<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101569187287-md91lbcl2r98d4m75ab7vpbmprrk7pb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101569187287-md91lbcl2r98d4m75ab7vpbmprrk7pb0</string>
	<key>API_KEY</key>
	<string>AIzaSyC0oJDgXNdacn7X-RVbn2Zb4J8dThLddDA</string>
	<key>GCM_SENDER_ID</key>
	<string>101569187287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-74d7c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-74d7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101569187287:ios:35e0de0eac5a07d18e4f92</string>
</dict>
</plist>